In [2]:
import sklearn
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()  # for plot styling
from tabulate import tabulate

from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_samples, silhouette_score
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder

from matplotlib import cm
from mpl_toolkits.mplot3d import Axes3D # for 3D plots

In [14]:
df2021 = pd.read_csv('Proyecto 2 - BI - Asma DatosAjus/Datos_proyecto_II_BI_2021.csv', encoding="ISO-8859-1", delimiter=',')
df2017 = pd.read_csv('Proyecto 2 - BI - Asma DatosAjus/Datos_proyecto_II_BI_2017.csv', encoding="ISO-8859-1", delimiter=',')
dfs2021 = pd.read_csv('DatosMultipropositoSinAsma-Proy2/Datos_proyecto_II_BI_2021_sin_asma.csv', encoding="ISO-8859-1", delimiter=',')
dfs2017 = pd.read_csv('DatosMultipropositoSinAsma-Proy2/Datos_proyecto_II_BI_2017_sin_asma.csv', encoding="ISO-8859-1", delimiter=',')

/var/folders/c3/74tsbvcd7f59g59y1gww3qk40000gn/T/ipykernel_6839/2358402513.py:1: DtypeWarning: Columns (334,410,412,540,541,543,545,549,552,553,554,555,556,557) have mixed types. Specify dtype option on import or set low_memory=False.
  df2021 = pd.read_csv('Proyecto 2 - BI - Asma DatosAjus/Datos_proyecto_II_BI_2021.csv', encoding="ISO-8859-1", delimiter=',')
/var/folders/c3/74tsbvcd7f59g59y1gww3qk40000gn/T/ipykernel_6839/2358402513.py:2: DtypeWarning: Columns (145,295,297,380,381,383,469,495,496,499,500,501,508,509,510,511) have mixed types. Specify dtype option on import or set low_memory=False.
  df2017 = pd.read_csv('Proyecto 2 - BI - Asma DatosAjus/Datos_proyecto_II_BI_2017.csv', encoding="ISO-8859-1", delimiter=',')
/var/folders/c3/74tsbvcd7f59g59y1gww3qk40000gn/T/ipykernel_6839/2358402513.py:3: DtypeWarning: Columns (8,10,334,408,409,410,412,538,540,541,543,545,549,552,553,554,555,556,557) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs2021 = pd.read_csv('DatosMultipropositoSinAsma-Proy2/Datos_proyecto_II_BI_2021_sin_asma.csv', encoding="ISO-8859-1", delimiter=',')
/var/folders/c3/74tsbvcd7f59g59y1gww3qk40000gn/T/ipykernel_6839/2358402513.py:4: DtypeWarning: Columns (12,145,146,147,280,285,295,296,297,304,379,380,381,382,383,469,470,495,496,498,499,500,501,507,508,509,510,511,512,513) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs2017 = pd.read_csv('DatosMultipropositoSinAsma-Proy2/Datos_proyecto_II_BI_2017_sin_asma.csv', encoding="ISO-8859-1", delimiter=',')

In [10]:
df2021.shape

(8630, 601)

In [11]:
df2017.shape

(4727, 552)

In [15]:
dfs2021.shape

(283651, 596)

In [16]:
dfs2017.shape

(315225, 552)

In [12]:
display(df2021.sample(5))

,Unnamed: 0,DIRECTORIO,DIRECTORIO_HOG,DIRECTORIO_PER,DPTO,MPIO,CLASE,COD_LOCALIDAD,NOMBRE_LOCALIDAD,COD_UPZ_GRUPO,...,NPCHP35C,NPCHP35D,NPCHP35E,NPCHP35F,NPCHP35I,NPCHP35J,NPCHP35K,NPCHP36,NPCHP36A,NPCHP37
2039,2040,1053297,10532971,105329711,11,11001,1,8.0,Kennedy,48.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,NaN,NaN
1502,1503,1038747,10387471,103874711,25,25126,1,NaN,NaN,NaN,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,NaN,NaN
160,161,1002553,10025531,100255311,11,11001,1,11.0,Suba,23.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,NaN,NaN
4237,4238,1153070,11530701,115307011,25,25377,3,NaN,NaN,NaN,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,0.0,NaN
44,45,1000710,10007101,100071013,11,11001,1,19.0,Ciudad Bolivar,815.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN

In [13]:
display(df2017.sample(5))

,Unnamed: 0,DIRECTORIO,DIRECTORIO_HOG,DIRECTORIO_PER,SECUENCIA,SECUENCIA_P,ORDEN,NVCAP99,DPTOMPIO,CLASE,...,NPCHP34,NPCHP34A,NPCHP35A,NPCHP35B,NPCHP35C,NPCHP35D,NPCHP35E,NPCHP35F,NPCHP35J,NPCHP35I
2944,2945,191064,1910641,19106411,1,1,1,04NOV2017:00:00:00,25662,1,...,NaN,NaN,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
3415,3416,231646,2316461,23164611,1,1,1,20NOV2017:00:00:00,25662,1,...,NaN,NaN,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
3781,3782,248734,2487341,24873412,1,1,1,21SEP2017:00:00:00,11001,1,...,NaN,NaN,1.0,2.0,1.0,1.0,1.0,1.0,1.0,2.0
3303,3304,227631,2276311,22763112,1,1,1,11NOV2017:00:00:00,11001,1,...,NaN,NaN,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
3528,3529,235285,2352851,23528511,1,1,1,21NOV2017:00:00:00,11001,1,...,NaN,NaN,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0

In [17]:
display(dfs2021.sample(5))

,Unnamed: 0,DIRECTORIO,DIRECTORIO_HOG,DIRECTORIO_PER,DPTO,MPIO,CLASE,COD_LOCALIDAD,NOMBRE_LOCALIDAD,COD_UPZ_GRUPO,...,NPCHP32A,NPCHP33,NPCHP34,NPCHP35A,NPCHP35B,NPCHP35C,NPCHP35D,NPCHP35E,NPCHP35F,NPCHP35I
215308,215309,326637.0,3266371,32663712,11,11001,1,18.0,Rafael Uribe Uribe,55.0,...,NaN,NaN,NaN,1.0,2.0,2.0,2.0,2.0,2.0,2.0
207849,207850,3006387.0,30063871,300638711,11,11001,1,1.0,Usaquen,14.0,...,NaN,NaN,NaN,2.0,2.0,2.0,2.0,2.0,2.0,2.0
176775,176776,1870934.0,18709341,187093411,25,25785,1,NaN,NaN,NaN,...,NaN,NaN,NaN,2.0,2.0,2.0,2.0,2.0,2.0,2.0
243689,243690,340521.0,3405211,34052112,11,11001,1,5.0,Usme,52.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169461,169462,1169407.0,11694071,116940712,11,11001,1,16.0,Puente Aranda,41.0,...,NaN,NaN,NaN,2.0,2.0,2.0,2.0,2.0,2.0,2.0

In [18]:
display(dfs2017.sample(5))

,Unnamed: 0,DIRECTORIO,DIRECTORIO_HOG,DIRECTORIO_PER,SECUENCIA,SECUENCIA_P,ORDEN,NVCAP99,DPTOMPIO,CLASE,...,NPCHP34,NPCHP34A,NPCHP35A,NPCHP35B,NPCHP35C,NPCHP35D,NPCHP35E,NPCHP35F,NPCHP35J,NPCHP35I
172210,172211,187271,1872711,18727112,1,1,1,10NOV2017:00:00:00,25260,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15753,15754,109156,1091561,10915611,1,1,1,17SEP2017:00:00:00,11001,1,...,NaN,NaN,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
43958,43959,130935,1309351,13093511,1,1,1,09OCT2017:00:00:00,25754,1,...,NaN,NaN,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
294089,294090,289139,2891391,28913915,1,1,1,06DEC2017:00:00:00,25513,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
293832,293833,287940,2879401,28794011,1,1,1,30NOV2017:00:00:00,11001,1,...,NaN,NaN,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0