In [572]:
import pandas as pd
# Para preparar los datos
from sklearn.preprocessing import LabelEncoder
# Para crear el arbol de decisión 
from sklearn.tree import DecisionTreeClassifier 
# Para usar KNN como clasificador
from sklearn.neighbors import KNeighborsClassifier
# Para realizar la separación del conjunto de aprendizaje en entrenamiento y test.
from sklearn.model_selection import train_test_split
# Para evaluar el modelo
from sklearn.metrics import confusion_matrix, classification_report, precision_score, recall_score, f1_score, accuracy_score

# Versiones anteriores a 1.2 de sklearn: from sklearn.metrics import plot_confusion_matrix
from sklearn.metrics import ConfusionMatrixDisplay
import pickle

import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split, GridSearchCV, RandomizedSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, ConfusionMatrixDisplay, precision_score, recall_score, f1_score
from sklearn import tree

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.discriminant_analysis import StandardScaler
from sklearn.ensemble import RandomForestClassifier
# Para búsqueda de hiperparámetros
from sklearn.model_selection import GridSearchCV
# Para la validación cruzada
from sklearn.model_selection import KFold 
#Librerías para la visualización
import matplotlib.pyplot as plt
# Seaborn
import seaborn as sns 
from sklearn import tree
import sklearn as sklearn

import scipy.stats as stats
%matplotlib inline

De A

General: DIRECTORIO (identificador de la vivienda)

Condiciones de la zona de vivienda: COD_UPZ(upz), CLASE (clase de)

De B

Factores ambientales: NVCBP15D (contaminación del aire), NVCBP15F (generacion y manejo inadecuado de basuras), NVCBP11C (hay alcantarillado)

Condiciones de la zona de vivienda: NVCBP14A(cerca a fabricas), NVCBP15H(insectos => rural), NVCBP1(estado de la via), NVCBP14B(cerca de basureros)

Condiciones del hogar: NVCBP11AA(estrato), NVCBP8A(humedad), NVCBP8G (hay ventilación), NVCBP11B(hay acueducto)
NVCBP13(material de los pisos)

Alergenos:

Salud

De C

Condiciones del hogar: NHCCP36A (hay lavamanos) NHCCP36C (hay tanque de reserva)

De F

General: NPCFP14F (tiene enfermedades respiratorias)

Salud:NPCFP13A (por lo menos una vez al año va al medico)

In [573]:
dfA2017 = pd.read_csv('data2017/Identificacion ( Capitulo A)/Identificacion ( Capitulo A).csv', encoding="ISO-8859-1", delimiter=';')
dfA2021 = pd.read_csv('data2021/Identificacion (Capitulo A)/Identificación (Capítulo A).csv', encoding="ISO-8859-1", delimiter=';')
dfB2017 = pd.read_csv('data2017/Datos de la vivenda y su entorno  ( Capitulo B)/Datos de la vivenda y su entorno  ( Capitulo B).csv', encoding="ISO-8859-1", delimiter=';')
dfB2021 = pd.read_csv('data2021/Datos de la vivenda y su entorno (Capitulo B)/Datos de la vivenda y su entorno (Capítulo B).csv', encoding="ISO-8859-1", delimiter=';')
dfC2017 = pd.read_csv('data2017/Condiciones habitacionales del hogar   (Capitulo C)/Condiciones habitacionales del hogar   (Capitulo C).csv', encoding="ISO-8859-1", delimiter=';')
dfC2021 = pd.read_csv('data2021/Condiciones habitacionales del hogar (Capitulo C)/Condiciones habitacionales del hogar (Capítulo C).csv', encoding="ISO-8859-1", delimiter=';')
dfF2017 = pd.read_csv('data2017/Salud ( Capitulo F)/Salud ( Capitulo F).csv', encoding="ISO-8859-1", delimiter=';')
dfF2021 = pd.read_csv('data2021/Salud (Capitulo F)/Salud (Capítulo F).csv', encoding="ISO-8859-1", delimiter=';')

/var/folders/c3/74tsbvcd7f59g59y1gww3qk40000gn/T/ipykernel_17109/3519749053.py:5: DtypeWarning: Columns (68,69,70,123,124) have mixed types. Specify dtype option on import or set low_memory=False.
  dfC2017 = pd.read_csv('data2017/Condiciones habitacionales del hogar   (Capitulo C)/Condiciones habitacionales del hogar   (Capitulo C).csv', encoding="ISO-8859-1", delimiter=';')
/var/folders/c3/74tsbvcd7f59g59y1gww3qk40000gn/T/ipykernel_17109/3519749053.py:6: DtypeWarning: Columns (4,25,30,47) have mixed types. Specify dtype option on import or set low_memory=False.
  dfC2021 = pd.read_csv('data2021/Condiciones habitacionales del hogar (Capitulo C)/Condiciones habitacionales del hogar (Capítulo C).csv', encoding="ISO-8859-1", delimiter=';')
/var/folders/c3/74tsbvcd7f59g59y1gww3qk40000gn/T/ipykernel_17109/3519749053.py:7: DtypeWarning: Columns (112) have mixed types. Specify dtype option on import or set low_memory=False.
  dfF2017 = pd.read_csv('data2017/Salud ( Capitulo F)/Salud ( Capitulo F).csv', encoding="ISO-8859-1", delimiter=';')
/var/folders/c3/74tsbvcd7f59g59y1gww3qk40000gn/T/ipykernel_17109/3519749053.py:8: DtypeWarning: Columns (82,105,107) have mixed types. Specify dtype option on import or set low_memory=False.
  dfF2021 = pd.read_csv('data2021/Salud (Capitulo F)/Salud (Capítulo F).csv', encoding="ISO-8859-1", delimiter=';')

In [574]:
print(dfA2017.shape)
print(dfA2021.shape)

(107218, 12)
(106467, 11)

In [575]:
print(dfB2017.shape)
print(dfB2021.shape)

(107218, 51)
(106467, 63)

In [576]:
print(dfC2017.shape)
print(dfC2021.shape)

(109111, 137)
(107119, 142)

In [577]:
print(dfF2017.shape)
print(dfF2021.shape)

(319952, 113)
(292281, 135)

In [578]:
print(dfA2017.columns)

Index(['ï»¿DIRECTORIO', 'SECUENCIA', 'SECUENCIA_P', 'ORDEN', 'NVCAP99',
       'DPTOMPIO', 'CLASE', 'TOT_HOG_COMP', 'FEX_C', 'LOCALIDAD_TEX',
       'COD_UPZ', 'CODLOCALIDAD'],
      dtype='object')

In [579]:
dfA2017.rename(columns={'ï»¿DIRECTORIO': 'DIRECTORIO'}, inplace=True)

In [580]:
display(dfA2017[['DIRECTORIO','COD_UPZ', 'CLASE']].sample(5))

        DIRECTORIO COD_UPZ  CLASE
80904       252326      45      1
106289      314711      51      1
56860       190795              1
29360       154018              1
94291       278062     808      1

In [581]:
dfA2017new = dfA2017[['DIRECTORIO','COD_UPZ','CLASE']]

In [582]:
display(dfA2017new.sample(5))

       DIRECTORIO COD_UPZ  CLASE
73196      237584     110      1
2297       104401      65      1
8606       122266      18      1
92706      275850      83      1
14614      133271     807      1

In [583]:
print(dfA2021.columns)

Index(['DIRECTORIO', 'DPTO', 'MPIO', 'CLASE', 'COD_LOCALIDAD',
       'NOMBRE_LOCALIDAD', 'COD_UPZ_GRUPO', 'NOMBRE_UPZ_GRUPO', 'ESTRATO2021',
       'NOMBRE_ESTRATO', 'FEX_C'],
      dtype='object')

In [584]:
dfA2021.rename(columns={'COD_UPZ_GRUPO': 'COD_UPZ'}, inplace=True)

In [585]:
display(dfA2021[['DIRECTORIO','COD_UPZ', 'CLASE']].sample(5))

       DIRECTORIO  COD_UPZ  CLASE
74260   1137067.0     38.0      1
89069   1160716.0     21.0      1
95156   1712216.0     37.0      1
88786   1160327.0    116.0      1
78720   1146611.0     51.0      1

In [586]:
dfA2021new = dfA2021[['DIRECTORIO','COD_UPZ', 'CLASE']]

In [587]:
display(dfA2021new.sample(5))

       DIRECTORIO  COD_UPZ  CLASE
7641     331563.0     32.0      1
10777    335851.0    114.0      1
38106   1025093.0     40.0      1
85947   1156736.0    110.0      1
61117   1099407.0      NaN      1

In [588]:
print(dfB2017.columns)

Index(['ï»¿DIRECTORIO', 'SECUENCIA', 'SECUENCIA_P', 'ORDEN', 'NVCBP1',
       'NVCBP2', 'NVCBP3', 'NVCBP4', 'NVCBP5', 'NVCBP6', 'NVCBP7', 'NVCBP8A',
       'NVCBP8B', 'NVCBP8C', 'NVCBP8D', 'NVCBP8E', 'NVCBP8F', 'NVCBP8G',
       'NVCBP8H', 'NVCBP8I', 'NVCBP8J', 'NVCBP9', 'NVCBP10', 'NVCBP11A',
       'NVCBP11AA', 'NVCBP11B', 'NVCBP11C', 'NVCBP11D', 'NVCBP11DA', 'NVCBP12',
       'NVCBP13', 'NVCBP14A', 'NVCBP14B', 'NVCBP14C', 'NVCBP14D', 'NVCBP14E',
       'NVCBP14F', 'NVCBP14G', 'NVCBP14H', 'NVCBP14I', 'NVCBP14J', 'NVCBP14K',
       'NVCBP15A', 'NVCBP15B', 'NVCBP15C', 'NVCBP15D', 'NVCBP15E', 'NVCBP15F',
       'NVCBP15G', 'NVCBP15H', 'FEX_C'],
      dtype='object')

In [589]:
dfB2017.rename(columns={'ï»¿DIRECTORIO': 'DIRECTORIO'}, inplace=True)

In [590]:
display(dfB2017[['DIRECTORIO','NVCBP15D', 'NVCBP15F', 'NVCBP11C', 'NVCBP11AA', 'NVCBP8A', 'NVCBP8G', 'NVCBP11B', 'NVCBP13' ]].sample(5))

,DIRECTORIO,NVCBP15D,NVCBP15F,NVCBP11C,NVCBP11AA,NVCBP8A,NVCBP8G,NVCBP11B,NVCBP13
15623,134450,2,2,1,3,2,2,1,4
68428,231485,2,2,1,3,2,2,1,4
818,102175,2,2,1,3,2,2,1,4
60001,196585,2,2,1,2,2,2,1,4
96351,280995,2,1,1,2,2,2,1,5

In [591]:
dfB2017new = dfB2017[['DIRECTORIO','NVCBP15D', 'NVCBP15F', 'NVCBP11C', 'NVCBP11AA', 'NVCBP8A', 'NVCBP8G', 'NVCBP11B', 'NVCBP13' ]]

In [592]:
display(dfB2017new.sample(5))

,DIRECTORIO,NVCBP15D,NVCBP15F,NVCBP11C,NVCBP11AA,NVCBP8A,NVCBP8G,NVCBP11B,NVCBP13
97462,282907,2,2,1,2,1,2,1,4
103032,296194,2,2,1,3,2,2,1,4
2575,104682,2,2,1,3,1,2,1,4
45833,173451,1,2,1,3,2,2,1,4
21720,141040,1,2,1,4,2,2,1,4

In [593]:
print(dfB2021.columns)

Index(['DIRECTORIO', 'NVCBP1', 'NVCBP2', 'NVCBP3', 'NVCBP4', 'NVCBP5',
       'NVCBP6', 'NVCBP7', 'NVCBP8A', 'NVCBP8B', 'NVCBP8C', 'NVCBP8D',
       'NVCBP8E', 'NVCBP8F', 'NVCBP8G', 'NVCBP8H', 'NVCBP8I', 'NVCBP8J',
       'NVCBP9', 'NVCBP9A1', 'NVCBP9A2', 'NVCBP9A3', 'NVCBP9A4', 'NVCBP10',
       'NVCBP11A', 'NVCBP11AA', 'NVCBP11B', 'NVCBP11C', 'NVCBP11D',
       'NVCBP11DA', 'NVCBP12', 'NVCBP13', 'NVCBP14A', 'NVCBP14B', 'NVCBP14C',
       'NVCBP14D', 'NVCBP14E', 'NVCBP14L', 'NVCBP14F', 'NVCBP14G', 'NVCBP14H',
       'NVCBP14I', 'NVCBP14J', 'NVCBP14K', 'NVCBP15A', 'NVCBP15B', 'NVCBP15C',
       'NVCBP15D', 'NVCBP15E', 'NVCBP15F', 'NVCBP15G', 'NVCBP15H', 'NVCBP15I',
       'NVCBP15J', 'NVCBP15K', 'NVCBP15L', 'NVCBP15M', 'NVCBP16A1',
       'NVCBP16A2', 'NVCBP16A3', 'NVCBP16A4', 'NVCBP16', 'FEX_C'],
      dtype='object')

In [594]:
display(dfB2021[['DIRECTORIO','NVCBP15D', 'NVCBP15F', 'NVCBP11C', 'NVCBP11AA', 'NVCBP8A', 'NVCBP8G', 'NVCBP11B', 'NVCBP13' ]].sample(5))

,DIRECTORIO,NVCBP15D,NVCBP15F,NVCBP11C,NVCBP11AA,NVCBP8A,NVCBP8G,NVCBP11B,NVCBP13
56291,1055286.0,2,1,1,2.0,1,2,1,6
30469,1002058.0,2,2,1,2.0,1,2,1,4
77862,1145529.0,2,2,1,1.0,1,2,1,4
63187,1102106.0,1,2,1,4.0,2,2,1,4
88670,1160470.0,2,2,1,3.0,2,2,1,4

In [595]:
dfB2021new = dfB2021[['DIRECTORIO','NVCBP15D', 'NVCBP15F', 'NVCBP11C', 'NVCBP11AA', 'NVCBP8A', 'NVCBP8G', 'NVCBP11B', 'NVCBP13' ]]

In [596]:
display(dfB2021new.sample(5))

,DIRECTORIO,NVCBP15D,NVCBP15F,NVCBP11C,NVCBP11AA,NVCBP8A,NVCBP8G,NVCBP11B,NVCBP13
57944,1060463.0,2,2,1,2.0,2,2,1,4
61380,1099995.0,2,2,1,3.0,2,1,1,4
62461,1101181.0,2,2,1,2.0,2,2,1,4
87987,1159502.0,2,2,1,2.0,1,2,1,4
96695,1871780.0,2,2,1,2.0,2,2,1,4

In [597]:
print(dfF2017.columns)

Index(['ï»¿DIRECTORIO_PER', 'DIRECTORIO_HOG', 'DIRECTORIO', 'SECUENCIA_P',
       'ORDEN', 'NPCFP1', 'NPCFP2', 'NPCFP3', 'NPCFP4A', 'NPCFP4B',
       ...
       'NPCFP40E', 'NPCFP40F', 'NPCFP40', 'NPCFP41', 'NPCFP42', 'NPCFP43',
       'NPCFP43A', 'NPCFP44', 'NPCFP45', 'FEX_C'],
      dtype='object', length=113)

In [598]:
display(dfF2017[['DIRECTORIO','NPCFP14F']].sample(5))

        DIRECTORIO  NPCFP14F
40227       129235         2
129121      168098         2
244901      250696         2
252303      254308         2
288561      280084         2

In [599]:
dfF2017new = dfF2017[['DIRECTORIO','NPCFP14F']]

In [600]:
display(dfF2017new.sample(5))

        DIRECTORIO  NPCFP14F
268739      263097         2
121110      164944         2
142468      172925         2
25045       121570         2
29751       124100         2

In [601]:
print(dfF2021.columns)

Index(['DIRECTORIO', 'DIRECTORIO_HOG', 'DIRECTORIO_PER', 'SECUENCIA_P',
       'ORDEN', 'NPCFP1', 'NPCFP2', 'NPCFP3', 'NPCFP4A', 'NPCFP4B',
       ...
       'NPCFP44', 'NPCFP45', 'NPCFP46', 'NPCFP47A', 'NPCFP47B', 'NPCFP47C',
       'NPCFP47D', 'NPCFP47E', 'NPCFP47F', 'FEX_C'],
      dtype='object', length=135)

In [602]:
display(dfF2021[['DIRECTORIO','NPCFP14F']].sample(5))

        DIRECTORIO  NPCFP14F
153159   1058123.0         2
58890     983491.0         2
142153   1050011.0         2
67285     994297.0         2
135857   1043381.0         1

In [603]:
dfF2021new = dfF2021[['DIRECTORIO','NPCFP14F']]

In [604]:
display(dfF2021new.sample(5))

        DIRECTORIO  NPCFP14F
198323   1136647.0         2
159197   1062916.0         2
168721   1100936.0         2
15329     330923.0         2
142354   1050152.0         2

In [605]:
df20171= pd.merge(dfA2017new, dfB2017new,on='DIRECTORIO')

In [606]:
df2017= pd.merge(df20171, dfF2017new,on='DIRECTORIO')

In [607]:
print(df2017.columns)

Index(['DIRECTORIO', 'COD_UPZ', 'CLASE', 'NVCBP15D', 'NVCBP15F', 'NVCBP11C',
       'NVCBP11AA', 'NVCBP8A', 'NVCBP8G', 'NVCBP11B', 'NVCBP13', 'NPCFP14F'],
      dtype='object')

In [608]:
df20211= pd.merge(dfA2021new, dfB2021new,on='DIRECTORIO')

In [609]:
df2021= pd.merge(df20211, dfF2021new,on='DIRECTORIO')

In [613]:
print(df2021.columns)

Index(['DIRECTORIO', 'COD_UPZ', 'CLASE', 'NVCBP15D', 'NVCBP15F', 'NVCBP11C',
       'NVCBP11AA', 'NVCBP8A', 'NVCBP8G', 'NVCBP11B', 'NVCBP13', 'NPCFP14F'],
      dtype='object')

# Limpieza

### DF2017

In [614]:
df_porcentajes = (100*df2017.isna().sum()/len(df2017)).to_frame()
df_porcentajes.sort_values(0, ascending = False)

              0
DIRECTORIO  0.0
COD_UPZ     0.0
CLASE       0.0
NVCBP15D    0.0
NVCBP15F    0.0
NVCBP11C    0.0
NVCBP11AA   0.0
NVCBP8A     0.0
NVCBP8G     0.0
NVCBP11B    0.0
NVCBP13     0.0
NPCFP14F    0.0

In [615]:
df2017.sample(10)

,DIRECTORIO,COD_UPZ,CLASE,NVCBP15D,NVCBP15F,NVCBP11C,NVCBP11AA,NVCBP8A,NVCBP8G,NVCBP11B,NVCBP13,NPCFP14F
50309,134812,,1,1,2,1,2,1,2,1,4,2
156132,180391,40,1,1,2,1,3,2,2,1,4,2
2793,102216,80,1,1,2,1,2,2,2,1,4,2
230610,240018,814,1,1,1,1,3,1,2,1,4,2
160973,182172,28,1,1,2,1,2,2,2,1,4,2
229266,239240,,1,2,2,1,2,1,2,1,6,2
14349,108572,41,1,2,1,1,3,2,2,1,4,2
218466,234028,110,1,2,2,1,4,2,2,1,4,2
3156,102373,98,1,2,2,1,4,2,2,1,2,2
162061,182547,816,1,2,2,1,4,2,2,1,4,2

In [616]:

# Calcula el porcentaje de filas con valores vacíos por columna
porcentaje_filas_vacias = (df2017 == ' ').mean() * 100

# Crea un nuevo DataFrame con la información de los porcentajes de filas vacías
filas_vacias_info = pd.DataFrame({'Columna': porcentaje_filas_vacias.index, 'Porcentaje Filas Vacías': porcentaje_filas_vacias.values})

# Muestra el nuevo DataFrame ordenado por el porcentaje de filas vacías de forma descendente
print(filas_vacias_info.sort_values(by='Porcentaje Filas Vacías', ascending=False))

       Columna  Porcentaje Filas Vacías
1      COD_UPZ                33.183102
6    NVCBP11AA                 0.148460
0   DIRECTORIO                 0.000000
2        CLASE                 0.000000
3     NVCBP15D                 0.000000
4     NVCBP15F                 0.000000
5     NVCBP11C                 0.000000
7      NVCBP8A                 0.000000
8      NVCBP8G                 0.000000
9     NVCBP11B                 0.000000
10     NVCBP13                 0.000000
11    NPCFP14F                 0.000000

In [617]:
df2017['NVCBP11AA'].describe()

count     319952
unique        10
top            2
freq      142540
Name: NVCBP11AA, dtype: object

In [618]:
df2017['NVCBP11AA'] = df2017['NVCBP11AA'].replace(' ', np.nan)
#elimino los valores nulos
df2017=df2017.dropna(subset=['NVCBP11AA'])

In [619]:
valores_unicos = df2017['NVCBP11AA'].unique()
print(valores_unicos)

['2' '3' '6' '1' '4' '5' '0' '9' '8']

In [620]:
df2017['NVCBP11AA'] = df2017['NVCBP11AA'].astype(int)

In [621]:
valores_unicos = df2017['NVCBP11AA'].unique()
print(valores_unicos)

[2 3 6 1 4 5 0 9 8]

In [622]:
# Calcula el porcentaje de filas con valores vacíos por columna
porcentaje_filas_vacias = (df2017 == ' ').mean() * 100

# Crea un nuevo DataFrame con la información de los porcentajes de filas vacías
filas_vacias_info = pd.DataFrame({'Columna': porcentaje_filas_vacias.index, 'Porcentaje Filas Vacías': porcentaje_filas_vacias.values})

# Muestra el nuevo DataFrame ordenado por el porcentaje de filas vacías de forma descendente
print(filas_vacias_info.sort_values(by='Porcentaje Filas Vacías', ascending=False))

       Columna  Porcentaje Filas Vacías
1      COD_UPZ                33.144483
0   DIRECTORIO                 0.000000
2        CLASE                 0.000000
3     NVCBP15D                 0.000000
4     NVCBP15F                 0.000000
5     NVCBP11C                 0.000000
6    NVCBP11AA                 0.000000
7      NVCBP8A                 0.000000
8      NVCBP8G                 0.000000
9     NVCBP11B                 0.000000
10     NVCBP13                 0.000000
11    NPCFP14F                 0.000000

### DF2021

In [623]:
df2021.sample(10)

,DIRECTORIO,COD_UPZ,CLASE,NVCBP15D,NVCBP15F,NVCBP11C,NVCBP11AA,NVCBP8A,NVCBP8G,NVCBP11B,NVCBP13,NPCFP14F
237564,1157245.0,75.0,1,2,2,1,3.0,2,2,1,4,2
207638,1139359.0,112.0,1,1,2,1,3.0,1,2,1,4,2
56274,560377.0,NaN,3,2,2,2,2.0,2,2,2,6,2
70135,992930.0,112.0,1,2,2,1,4.0,2,2,1,4,2
62323,981755.0,89.0,1,2,1,1,2.0,1,2,1,4,2
194773,1124175.0,NaN,3,2,2,1,2.0,2,2,1,4,2
47987,343777.0,51.0,1,2,1,1,1.0,2,2,1,4,2
176505,1102131.0,24.0,1,2,2,1,3.0,1,2,1,4,2
69606,990442.0,19.0,1,2,2,1,4.0,2,2,1,4,2
103813,1018050.0,71.0,1,2,2,1,2.0,2,2,1,4,2

In [624]:
df_porcentajes = (100*df2021.isna().sum()/len(df2021)).to_frame()
df_porcentajes.sort_values(0, ascending = False)

                    0
COD_UPZ     22.423969
NVCBP11AA    0.217599
DIRECTORIO   0.000000
CLASE        0.000000
NVCBP15D     0.000000
NVCBP15F     0.000000
NVCBP11C     0.000000
NVCBP8A      0.000000
NVCBP8G      0.000000
NVCBP11B     0.000000
NVCBP13      0.000000
NPCFP14F     0.000000

In [625]:
df2021=df2021.dropna(subset=['NVCBP11AA'])

In [626]:
df_porcentajes = (100*df2021.isna().sum()/len(df2021)).to_frame()
df_porcentajes.sort_values(0, ascending = False)

                    0
COD_UPZ     22.376519
DIRECTORIO   0.000000
CLASE        0.000000
NVCBP15D     0.000000
NVCBP15F     0.000000
NVCBP11C     0.000000
NVCBP11AA    0.000000
NVCBP8A      0.000000
NVCBP8G      0.000000
NVCBP11B     0.000000
NVCBP13      0.000000
NPCFP14F     0.000000

In [627]:
# Calcula el porcentaje de filas con valores vacíos por columna
porcentaje_filas_vacias = (df2021 == ' ').mean() * 100

# Crea un nuevo DataFrame con la información de los porcentajes de filas vacías
filas_vacias_info = pd.DataFrame({'Columna': porcentaje_filas_vacias.index, 'Porcentaje Filas Vacías': porcentaje_filas_vacias.values})

# Muestra el nuevo DataFrame ordenado por el porcentaje de filas vacías de forma descendente
print(filas_vacias_info.sort_values(by='Porcentaje Filas Vacías', ascending=False))

       Columna  Porcentaje Filas Vacías
0   DIRECTORIO                      0.0
1      COD_UPZ                      0.0
2        CLASE                      0.0
3     NVCBP15D                      0.0
4     NVCBP15F                      0.0
5     NVCBP11C                      0.0
6    NVCBP11AA                      0.0
7      NVCBP8A                      0.0
8      NVCBP8G                      0.0
9     NVCBP11B                      0.0
10     NVCBP13                      0.0
11    NPCFP14F                      0.0

## Duplicidad

In [628]:
# Para var cuantos duplicados hay
duplicates = df2017.duplicated()
num_duplicates = duplicates.sum()
print("Number of duplicates: ", num_duplicates)

Number of duplicates:  204709

In [629]:
# Para var cuantos duplicados hay
duplicates = df2021.duplicated()
num_duplicates = duplicates.sum()
print("Number of duplicates: ", num_duplicates)

Number of duplicates:  178560

## Consistencia

In [630]:
df2017.describe()

,DIRECTORIO,CLASE,NVCBP15D,NVCBP15F,NVCBP11C,NVCBP11AA,NVCBP8A,NVCBP8G,NVCBP11B,NVCBP13,NPCFP14F
count,319477.000000,319477.000000,319477.000000,319477.000000,319477.000000,319477.000000,319477.000000,319477.000000,319477.000000,319477.000000,319477.000000
mean,195510.456280,1.046648,1.703459,1.832439,1.027047,2.506171,1.843807,2.051412,1.009844,4.076256,1.969835
std,58671.306097,0.297795,0.456733,0.373477,0.162222,0.942441,0.921831,0.880072,0.098729,0.824075,0.171041
min,101000.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,145684.000000,1.000000,1.000000,2.000000,1.000000,2.000000,2.000000,2.000000,1.000000,4.000000,2.000000
50%,181798.000000,1.000000,2.000000,2.000000,1.000000,2.000000,2.000000,2.000000,1.000000,4.000000,2.000000
75%,248337.000000,1.000000,2.000000,2.000000,1.000000,3.000000,2.000000,2.000000,1.000000,4.000000,2.000000
max,317885.000000,3.000000,2.000000,2.000000,2.000000,9.000000,9.000000,9.000000,2.000000,7.000000,2.000000

In [636]:
df2021.describe()

,DIRECTORIO,COD_UPZ,CLASE,NVCBP15D,NVCBP15F,NVCBP11C,NVCBP11AA,NVCBP8A,NVCBP8G,NVCBP11B,NVCBP13,NPCFP14F
count,2.916450e+05,226385.000000,291645.000000,291645.00000,291645.000000,291645.000000,291645.000000,291645.000000,291645.000000,291645.000000,291645.000000,291645.000000
mean,1.114509e+06,176.034441,1.131495,1.73979,1.824184,1.055046,2.656603,1.793828,2.042634,1.017117,4.090236,1.970457
std,6.041248e+05,273.444019,0.482154,0.43875,0.380665,0.228071,1.093528,0.790254,0.771708,0.129707,0.767682,0.169322
min,1.662380e+05,9.000000,1.000000,1.00000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,9.978490e+05,39.000000,1.000000,1.00000,2.000000,1.000000,2.000000,1.000000,2.000000,1.000000,4.000000,2.000000
50%,1.052239e+06,70.000000,1.000000,2.00000,2.000000,1.000000,3.000000,2.000000,2.000000,1.000000,4.000000,2.000000
75%,1.151054e+06,98.000000,1.000000,2.00000,2.000000,1.000000,3.000000,2.000000,2.000000,1.000000,4.000000,2.000000
max,3.006812e+06,817.000000,3.000000,2.00000,2.000000,2.000000,9.000000,9.000000,9.000000,2.000000,7.000000,2.000000